<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Painel de Pilotos!</strong></h1>
              <a class="btn btn-info btn-lg" href="/pilotos" role="button">Verificar Pilotos</a>
            </p>
          </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>Para onde deseja ir?</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/equipes">Equipes</a></li>
                    <li><a href="/pilotos">Pilotos</a></li>
                    <li><a href="/equipamentos">Equipamentos</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
